@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EMS</h1>
    <p>Employee management system is an application based system, having two applications developed, one for employers to manage employee details and another for employees to mark their attendance.</p>
    <p>Employee management system is a distribted applicaiton, developed to maintain the details of employees working in any organization.</p>
</div>
